<div id="chestAndBack">Chest and Back</div>
<div id="shouldersAndArms">Shoulders and Arms</div>
<div id="legsAndBack">Legs and Back</div>
<div id="chestShouldersAndTris">Chest, Shoulders, and Tris</div>
<div id="backAndBiceps">Back and Biceps</div>
<div id="coreSynergistics">Core Synergistics</div>